<div class="center jumbotron">
  <h1>Welcome to MyRecipes APP</h1>
  
  <h2> Have a look here</h2>
  
  <%= link_to "Sign up now",register_path,class:"btn btn-lg btn-success"%>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="mideow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Brows and view recipes as a gues and Sign up Later</h2>
    <p><%= link_to "Brows Recipe Listings",recipes_path,class:"btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="mideow">
      Sign in to your account
    </h3>
    <h2 class="left">Create your own recipes, make a comment now</h2>
    <p><%= link_to "log into your account","login_path",class:"btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="mideow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Brows and view recipes as a gues and Sign up Later</h2>
    <p><%= link_to "Brows Recipe Listings","",class:"btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="mideow">
      View Recipes as Guest User
    </h3>
    <h2 class="left">Brows and view recipes as a gues and Sign up Later</h2>
    <p><%= link_to "Brows Recipe Listings","",class:"btn btn-warning btn-small" %></p>
  </div>
</div>