<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "myRecipes",root_path,class:"btn btn-lg btn-success", id:"logo"%>
      <div class="nav_item">
        <%= link_to "link 1","",class:"btn btn-default btn-warning" %>
      </div>
       <div class="nav_item">
        <%= link_to "link 1","",class:"btn btn-default btn-warning" %>
      </div>
      <% if logged_in? %>
       <div class="nav_item">
        <%= link_to "New recipe", new_recipe_path, class:"btn btn-default btn-warning" %>
      </div>
       <div class="nav_item">
        <%= link_to "Log out", logout_path, class:"btn btn-default btn-danger" %>
      </div>
      <% else %>
      <div class="nav_item">
        <%= link_to "Log in", login_path, class:"btn btn-default btn-warning" %>
      </div>
      
      <% end %>
    </div>
  </header>